@import "../../styles/colors.module";

.playground-content {
    padding: 80px 24px;
    min-height: 95vh;

    .header-title h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 40px;

        @media (max-width: 992px) {
            font-size: 32px;
        }
    }

    .page-wrapper {
        display: flex;
        color: $black-color;

        .playground {
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            width: 100%;

            &-page-wrapper {
                display: flex;
                width: 95%;
            
                @media (max-width: 1078px) {
                    flex-direction: column;
                }
            }   
        }
    }
}

.playground-api-json {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    width: 50%;

    @media (max-width: 1078px) {
        width: 100%;
    }

    .api-token {
        display: flex;
        flex-wrap: nowrap;
        border-radius: 4px;
        background-color: $black-color-1;
        margin-bottom: 24px;
        padding: 24px;

        @media (max-width: 992px) and (max-width: 640px) {
            flex-direction: column-reverse;
        }

        fieldset {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 0 12px;
            font-size: 14px;
            line-height: 1.43;
            border: none;
            color: $black-color;
            margin: 0 24px 0 0;

            @media (max-width: 992px) and (max-width: 640px) {
                margin-top: 24px;
            }

            @media (max-width: 992px) {
                flex-wrap: nowrap;
            }
        }

        .vertical-separator {
            background-color: rgba(37, 37, 37, 0.72);
            margin: 0 24px 0 0;
            height: inherit;
            width: 2px;
        }
    }

    .api-request {
        display: flex;
        flex-wrap: nowrap;
        border-radius: 4px;
        margin-bottom: 24px;
        border: 0.5px solid $dark-grey-color-3;
    }

    .cta {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 14px;
        width: 70%;
        margin-bottom: unset;
        align-items: center;
        justify-content: center;

        @media (max-width: 992px) and (max-width: 640px) {
            width: 100%;
            margin-bottom: 24px;
        }

        &-button button {
            cursor: pointer;
            background-color: $black-color-1;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 16px;
            border-radius: 4px;
            border: solid 2px $dark-grey-color-1;
            color: $white-color;

            &:hover {
                background-color: $dark-grey-color-2;
            }
        }

        .title {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.43;
            text-align: center;
            color: $light-grey-color-1;
            margin-bottom: 16px;
        }
    }
}


.playground-api-docs {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (max-width: 1078px) {
        width: 100%;
    }
}

#content {
    display: block;
}

.btn-authenticate {
    width: 118px;
    height: 42px;
    padding: 10px 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: $red-color-1;
    font-size: 14px;
    line-height: 1.43;
    color: $white-color;
}

.bold {
    font-weight: 700;
}

.dark {
    color: $white-color;
    background-color: $black-color-2;
}
