@import "../Sections.module";

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(../../../../../public/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0;
        width: 1008px;

        h1 {
            max-width: 775px;
            font-size: 64px;
            font-weight: 700;
            line-height: 1.25;
            text-align: center;
            color: $white-color;
            margin-bottom: 16px;
            margin-top: 0;
        }

        span {
            color: $white-color;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .hero-image {
        .hero-container {
            padding: 80px 20px;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero-image {
        .hero-container {
            flex-direction: column;
            padding: 80px 16px;

            h1 {
                font-size: 32px !important;
            }
        }
    }
}
