$light-grey-color: #d6dadb;
$light-grey-color-1: #c2c2c2;
$light-grey-color-2: #f5f7fa;
$red-color: #ff444f;
$white-color: #fff;
$black-color: #333;
$black-color-1: #151717;
$black-color-2: #0e0e0e;
$dark-grey-color: #999;
$dark-grey-color-1: #6e6e6e;
$dark-grey-color-2: #999999;
$dark-grey-color-3: #252525b8;
$red-color-1: #ff444f;
$red-color-2: #d43e47;
