html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: #ff444f;
    text-decoration: none;
}

* {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.with-bg {
    background-image: url("/pattern-left.svg"), url("/pattern-right.svg");
    background-size: 46%, 50%;
    background-repeat: no-repeat, no-repeat;
    background-position: top 20px left 8px, bottom 0 right -8px;
    z-index: 0;
}

p {
    line-height: 28px;
    margin-bottom: 16px;
}

li {
    margin-top: 16px;
}

ol li {
    margin-bottom: 16 px;
}

.doc-main-title {
    font-size: 48px;
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    margin-top: 0;
    @media (max-width: 992px) {
        font-size: 32px;
    }
}

footer {
    background-color: rgba(240, 241, 243, 1);
    color: #333333;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 54px;
    z-index: 300;

    .footer-container {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
    }
}

h2 {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #333333;
}

.not_found-wrapper {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
}