@import "../../../styles/colors.module";

.main-page-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    background-color: $light-grey-color-2;
}

.textContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subheader {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    text-align: center;
    width: 80%;

    span {
        font-size: 24px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 992px) {
    .subheader {
        span {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 460px) {
    .subheader {
        span {
            font-size: 20px;
        }
    }
}
