.doc-content {
    padding: 180px 0 80px;
    min-height: calc(88vh - 54px);
    justify-content: center;
    display: flex;
    @media (max-width: 992px) {
        flex-direction: column;
        padding: 75px 16px 40px;
        width: unset;
        min-height: calc(88vh - 54px);
        justify-content: unset;
    }
    .page-wrapper {
        display: flex;
        color: #333333;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        &.documentation {
            width: 80%;
            margin-top: 20px;

            @media (max-width: 1300px) {
                width: 90%;
            }

            @media (max-width: 1164px) {
                width: 95%;
            }
        }
        &:nth-child(3) {
            width: 100%;
        }
        .vertical-separator {
            width: 2px;
            height: inherit;
            margin-left: 220px;
            background-color: rgba(240, 241, 243, 0.64);
            @media (max-width: 992px) {
                display: none;
            }
        }
        .page-content {
            width: calc(100% - 262px);
            padding-left: 42px;
            @media (max-width: 992px) {
                width: 100%;
                padding-left: unset;
            }
        }
    }
}

#mobile-page-selector {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
    @media (max-width: 992px) {
        display: block;
        padding: 8px 5px;
        border-radius: 4px;
        background-color: #fff;
    }
}

.vertical-separator {
    width: 2px;
    height: inherit;
    margin-left: 220px;
    background-color: rgba(240, 241, 243, 0.64);
}

.page-content {
    width: calc(100% - 262px);
    padding-left: 42px;
}  

@media (max-width: 992px) {
    .playground-content {
        padding: 105px 5px;
    }
}