@media (max-width: 992px) {
    .vertical-separator {
        display: none;
    }
    .page-wrapper {
        flex-direction: column;
    }
}

.doc-content {
    padding: 105px 0 80px;
    min-height: calc(88vh - 54px);
    justify-content: center;
    display: flex;
}

.doc-content > .documentation {
    width: 80%;
    margin-top: 20px;

    @media (max-width: 1300px) {
        width: 90%;
    }

    @media (max-width: 1164px) {
        width: 95%;
    }
}

.page-wrapper {
    display: flex;
    color: #333333;
}

.page-wrapper :nth-child(3) {
    width: 100%;
}

#mobile-page-selector {
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}

.vertical-separator {
    width: 2px;
    height: inherit;
    margin-left: 220px;
    background-color: rgba(240, 241, 243, 0.64);
}
