.rowContainer {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 992px){
    flex-direction: column;
  }
}

.feedbackHomeContainer {
  background-color: black;
}
.bugBountyContainer, .appRegistartion{
  background-color: rgba(240, 241, 243, 0.64);
}
