.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 208px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .row-container {
        display: flex;
        flex-wrap: nowrap;
        width: 80%;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
}

.ctaPx {
    padding: 40px !important;
    @media (max-width: 992px) {
        padding: 0 16px !important;
        margin: 0 -16px !important;
    }
}

.cta {
    width: auto;
    border-radius: 4px;
    background-color: rgba(240, 241, 243, 0.64);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }
}

.dark {
    color: #fff;
    background-color: #0e0e0e;
}
