 .pre {
    max-width: 100%;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-word;
    color: #fff;
    border-radius: 4px;
    padding: 24px;
    margin-bottom: 16px;
    background: #1d1f20;
    font-size: inherit;
    word-wrap: inherit;
  }