@media (max-width: 992px) {
    .off-canvas-menu {
        position: fixed;
        background-color: white;
        top: 56px;
        height: calc(100vh - 54px);
        width: 253px;
        opacity: 1;
        overflow: hidden;
        transition: left 0.4s ease 0s;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 16px 20px 0;
        will-change: left;
        left: -254px;
        z-index: 1;
        padding: 24px 16px 24px 20px;

        .menu-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 40px;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 8px;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                left: 16px;
                width: 4px;
                height: 0;
                background-color: red;
                visibility: hidden;
                transition: all 0.2s ease-in-out;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            a {
                color: #000000;
                padding: 10px 16px;
            }

            .menu-header {
                display: inline-flex;
                padding: 10px 16px;
                margin-bottom: 8px;

                a {
                    color: #000000;
                }

                .menu-button {
                    margin-left: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .menu-panel {
                display: none;
                height: 0;
                padding: 0px 16px 0px 25px;
                transition: all 0.5s ease;

                &.show-dropdown {
                    display: flex;
                    flex-direction: column;
                    height: auto;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: #636363;
                    padding-left: 8px;
                    margin-bottom: 6px;
                    font-size: 14px;
                    font-weight: normal;
                }

                .selected {
                    background-color: rgba(240, 241, 243, 0.64);
                    border-left: 4px solid #FF0000;
                    border-radius: 4px;
                    font-weight: bold;
                    opacity: 1;

                    &::before {
                        visibility: visible;
                        height: 40px;
                    }
                }
            }
        }

        .selected {
            background-color: rgba(240, 241, 243, 0.64);
            border-radius: 4px;
            opacity: 1;

            &::before {
                visibility: visible;
                height: 40px;
            }
        }
    }
    .show-canvas {
        left: 0;
    }
}
