.table-wrapper {
    width: auto;
    max-width: 100%;
    display: flex;
    margin-bottom: 40px;
    overflow-x: auto;

    .flex-table {
        border: solid 1px #d6dadb;
        border-radius: 6px;

        thead {
            background-color: rgba(240,241,243,.64);

            .flex-tr {
                border-bottom: solid 1px #d6dadb;

                &-child {
                    text-align: left;
                    padding: 6px 16px;
                }
            }
        }
    }
}