@import "../../../styles/colors.module";

.registrationTitle h1 {
    margin-bottom: 40px;
    font-size: 48px;
    text-align: center;
}

#frmNewApplication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    fieldset {
        width: 100%;
        border: none;

        .titleRegister {
            font-size: 32px;
            margin-bottom: 20px;
            text-align: left;
            width: 100%;
        }
    }
}

.cta {
    width: auto;
    padding: 24px 0;
    border-radius: 4px;
    background-color: rgba(240,241,243,.64);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .textFocus {
        margin-bottom: 16px;
        font-size: 24px;
        text-align: left;
        line-height: 1.5;
        color: $black-color;
    }

    .cta-button button {
        width: fit-content;
        color: $black-color;
        padding: 10px 16px;
        border-radius: 4px;
        border: solid 2px $dark-grey-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: $dark-grey-color;
        }
    }
}

.horizontal-separator-grey {
    width: 100%;
    height: 1px;
    background-color: #eaeced;
    margin-bottom: 40px;
}

.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mb-0 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0!important;
        width: 100%;
        border: none;
    }
}

