.single-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    h2 {
        font-size: 32px;
        margin-bottom: 8px;
        color: #fff;
        line-height: 1.5;
        text-align: center;
        @media screen and (max-width: 992px) {
            font-size: 24px;
        }
    }
    p {
        margin-bottom: 32px;
        text-align: center;
        line-height: 28px;
    }
    .community-btn {
        padding: 6px 16px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        border: solid 1px #999;
        &:hover {
            background-color: #999;
        }
    }
    .blackColor {
        color: black;
    }
    .whiteColor {
        color: white;
    }
    .grayColor {
        color: #c2c2c2;
    }
}
.dark {
    color: #fff;
    background-color: #0e0e0e;
}

@media screen and (max-width: 992px) {
    .single-container {
        width: unset;
        padding: 40px 16px 0;
    }
}
