@import "../../styles/colors.module";
.playground-box {
    border-radius: 6px;
    border: none;
    background-color: $black-color-1;
    padding: 24px 15px;
    position: relative;

    .inline-label {
        position: absolute;
        top: 17px;
        left: 30px;
        font-size: 10px;
        padding: 2px 4px;
        background-color: $black-color-2;
    }
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    @media (max-width: 390px) {
        width: 100%;
    }

    .app-registration-subheader {
        align-self: flex-start;
        margin-bottom: 16px;
        font-size: 24px;
        text-align: left;
        line-height: 1.5;
        color: $black-color;
    }
}

.textarea-request {
    width: 100%;
    border-radius: 4px;
    resize: none;
}

.playground-request {
    min-height: 200px;
    padding: 10px 12px;
    border: none;
    background-color: $black-color-2;
    color: $light-grey-color-1;
}

.registration-request {
    min-height: 119px;
    padding: 10px;
    border: solid 1px $light-grey-color;
    font-size: 16px;
}

.json-btn-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 26px 0 40px;

    .btn-reset button {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        border-radius: 4px;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 700;
    }

    .btn-reset-playground button {
        background-color: $black-color-1;
        color: $white-color;
        padding: 10px 16px;
        border: $dark-grey-color-1 2px solid;
    }

    .gray-btn-submit button{
        padding: 8px 16px;
        border: solid 2px $dark-grey-color;
        background-color: $white-color;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: $black-color;
    }

    .btn-submit button {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        padding: 10px 16px;
        border: none;
        border-radius: 4px;
        background-color: $red-color;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: $white-color;
    
        &:hover {
            background-color: $red-color-2;
        }
    }
}