@import "../Sections.module";

$slider-width: 588px;
$slider-width-mobile: 248px;
$slider-height: 248px;

.blockquote {
    position: relative;
    text-align: left;
    &::after {
        box-sizing: border-box;
        color: #f2f3f4;
        content: "“";
        font-size: 17rem;
        font-weight: bold;
        left: 0rem;
        opacity: 56%;
        position: absolute;
        top: -6.9rem;
        z-index: -1;
    }
}

.author {
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    width: auto;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin-bottom: 0;
}

.control {
    height: 50px;
    position: absolute;
    top: 35%;
    width: 50px;
    z-index: 2;
}

.mainPageRow {
    padding: 40px 0;
    text-align: center;

    .clientsOpinion {
        color: #333333;
        font-family: "IBM plex sans", "sans-serif";
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;

        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    .slider,
    .wrapper,
    .slide {
        width: $slider-width;

        @media (max-width: 480px) {
            width: $slider-width-mobile;
        }
    }
    .slides {
        left: -$slider-width-mobile;
        transition: left 0.2s ease-out;

        // @media (max-width: 480px) {
        //     left: -$slider-width-mobile;
        // }
    }
    .prev {
        left: -100px;
    }
    .next {
        right: -100px;
    }
}

.columnContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prev {
    background-image: url(../../../../../public/arrow_left.svg);
    left: -100px;
}
.next {
    background-image: url(../../../../../public/arrow_right.svg);
    right: -100px;
}
.prev:active,
.next:active {
    transform: scale(0.8);
}

.slide {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $slider-height;
    justify-content: center;
    position: relative;
    transition: all 1s;
    width: $slider-width;

    @media (max-width: 480px) {
        width: $slider-width-mobile;
    }
}

.slider {
    height: $slider-height;
    left: 50%;
    top: 50%;
    transform: translate(0%);
    width: $slider-width;

    @media (max-width: 480px) {
        height: 190px;
        width: $slider-width-mobile;
    }
}

.slides {
    display: flex;
    left: -$slider-width;
    position: relative;
    top: 0;
    width: 10000px;
}

// .shifting {
//     transition: left 0.2s ease-out;
// }

.wrapper {
    height: $slider-height;
    overflow: hidden;
    position: relative;
    width: $slider-width;
    z-index: 1;

    @media (max-width: 480px) {
        width: $slider-width-mobile;
    }
}
